{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}


        <div class="col-8">

            {% include "components/question.html" with item=question %}

            {% if user.is_authenticated %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
            <hr>

            {% for answer in answers %}
            {% include "components/answer.html" with item=answer%}
            {% endfor %}




            {% include "components/pagination.html" with page_obj=answers %}

        </div>
        {% endblock %}