{% extends "layouts/base.html" %}
{% load static %}

{% block content %}


        <div class="col-8">

            {% include "components/question.html" with item=question %}

            <hr>
            {% for answer in answers %}
            {% include "components/answer.html" with item=answer%}
            {% endfor %}

            <form class="d-flex flex-column mb-4" role="search">

                <textarea class="form-control" type="search" style="height: 200px; resize: none;"
                          placeholder="Enter your answer here" aria-label="Search"
                ></textarea>
                <button class="btn btn-outline-success mt-4" style="width: 100px" type="submit">Answer!</button>

            </form>




            {% include "components/pagination.html" with page_obj=answers %}

        </div>
        {% endblock %}