{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Settings: {{ user.first_name }}</h1>
</div>
<div class="col-md-8 col-sm-12 mt-1">
    <div class="col-md-6 col-sm-12 mt-1">
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
<!--    <button class="btn btn-outline-success ms-4 mt-4" type="submit">Save!</button>-->
<!--    <div class="row">-->
<!--        <div class="col-2">-->

<!--        </div>-->
<!--        <div class="col-10">-->
<!--            <div class="mb-2">-->
<!--                <button class="btn btn-outline-success ms-4 mt-4" type="submit">Save!</button>-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
    </div>
</div>
{% endblock %}