{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Register</h1>
</div>
                        <p class="mt-1" style="color:red">Sorry, this email adress already!</p>
<div class="col-md-8 col-sm-12 mt-1">
    <div class="row mb-3">
        <div class="col-2 pt-1 d-flex">
            Login
        </div>
        <div class="col-4">
            <form class="d-flex" role="search">
                <input class="form-control ms-4 me-4" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 pt-1 d-flex">
            Email
        </div>
        <div class="col-4">
            <form class="d-flex" role="search">
                <input class="form-control ms-4 me-4" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 pt-1 d-flex">
            NickName
        </div>
        <div class="col-4">
            <form class="d-flex" role="search">
                <input class="form-control ms-4 me-4" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 pt-1 d-flex">
            Password
        </div>
        <div class="col-4">
            <form class="d-flex" role="search">
                <input class="form-control ms-4 me-4" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 pt-1 d-flex">
            Repeat Password
        </div>
        <div class="col-4">
            <form class="d-flex" role="search">
                <input class="form-control ms-4 me-4" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 pt-1 d-flex">
            Avatar
        </div>
        <div class="col-10">
            <form class="d-flex" role="search">
                <input class="form-control ms-4 " type="file" placeholder="Search" aria-label="Search">

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-10">
            <div class="mb-2">
                <button class="btn btn-outline-success ms-4 mt-4" type="submit">Register!</button>
            </div>

        </div>

    </div>

</div>
{% endblock %}