{% load static %}

<article class="card mb-3 w-100">
                <div class="row g-0">
                    <div class="col-3 p-2">
                        <div class="border w-100 mb-3" style="flex: auto;">
                            <img src="{% static '/img/img.jpg' %}" class="img-fluid rounded-start" >
                        </div>
                        <div>
                            <div class="input-group mb-3">

                                <div class="form-floating">
                                    <input type="number" value="{{item.get_score}}" class="form-control" id="floatingInputGroup1"
                                           placeholder="Username" readonly>
                                    <label for="floatingInputGroup1">Rating</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card-body d-flex flex-column h-100">
                            <p class="card-text">{{item.text}}</p>
                            <div class="form-check mt-auto">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <label class="form-check-label" for="flexCheckDefault">
                                Correct!
                              </label>
                            </div>
                        </div>
                    </div>
                </div>
            </article>