{% load static %}

<article class="card mb-3 w-100">
                <div class="row g-0">
                    <div class="col-3 p-2">
                        <div class="border w-100 mb-3" style="flex: auto;">
                            <img src="{% static '/img/img.jpg' %}" class="img-fluid rounded-start" >
                        </div>
                        <div>
                            <div class="input-group mb-3">

                                <div class="form-floating">
                                    <input type="number" value="5" class="form-control" id="floatingInputGroup1"
                                           placeholder="Username">
                                    <label for="floatingInputGroup1">Username</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p class="card-text">{{item.text}}</p>
                            <div class="row">
                                Correct

                            </div>
                        </div>
                    </div>
                </div>
            </article>