{% load static %}

<article class="card mb-3 w-100 h-30">
                <div class="row g-0">
                    <div class="col-3 p-2">
                        <div class="border w-100 mb-3" style="flex: auto;">
                            <img src="{% static '/img/img.jpg' %}" class="img-fluid rounded-start" >
                        </div>
                        <div>
                            <div class="input-group mb-3">

                                <div class="form-floating">
                                    <input type="number" value="{{item.get_score}}" class="form-control" id="floatingInputGroup1"
                                           placeholder="Username" readonly>
                                    <label for="floatingInputGroup1">Rating</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">
                                <a href="{% url "question" item.id %}">{{item.title}}</a>
                            </h5>
                            <p class="card-text">{{item.text}}</p>
                            <div class="row mt-auto">
                                <a class="col-4" href="{% url "question" item.id %}">answers ({{item.get_answers_count}})</a>
                                <div class="col-8">
                                    <span>Tags</span>
                                    {% for tag in item.tags.all %}
                                        <a href="{% url "tag" tag.name %}">{{tag.name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>